body {background-color: #F7F7F7;
font-family: 'Lexend Deca', sans-serif;
margin: -0.5%;
}

.container {
    display:flex; 
}

.block_gauche { 
    color : white;
    background-color : #343038;
    width : 30%;
    height : 101%;
    position : fixed;
    display : flex;
    flex-direction : column;
 }

.block_droit {
    background-color : white;
    width: 70%;
    height: 3000px;
    float: right;
    margin-left: 30%;
 }

.profil {
    margin: 8%;
}

.sommaire {
    margin: 8%;
    margin-top: 18% auto;
}
.sommaire a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.sommaire a:hover {
    color: #1780ab;
}

.contact {
    margin: 8%;
    margin-top: auto;
    float: bottom;}

.contact a {
    text-decoration-color: none;
    font-size: 12px;
    color: white;
}

.contact a:hover {
    color: #c0392b;
}


.img_profil {
    height: 80px;
	border-radius: 50%;
}

h1 span {
    color: #1780ab;
}

h2 span {
    font-size: 20px;
}


.titles {
    margin: 5%;
    color: #1780ab
}

.banner {
    width: 100%;
    height: 10%;
    background-image: url(Images/bluewall.png);
    background-size: cover;
}

ul > li {
    margin:.8em 0;
    line-height: 1.15;
}

.bloc_cv {
    background-color: white;
    padding-bottom: 10%;
    padding-top: 3%;}

.bloc_cv2 {
    background-color: #FAF9F8;
    padding-bottom: 10%;
    padding-top: 3%;
}

.bloc_cv2 p {
    color: #424242;
}

.bloc_cv ul {
    color: #424242;}

.bloc_cv3 {
    display: flex;
    flex-direction: column;
    height: 650px;
}

.bloc_cv4 {
    display: flex;
    flex-direction: column;
    background-color: #FAF9F8;
    height: 370px;
    padding-top: 3%;
}


.card-img {
    height: 80px;
    width: auto;
}

.container_langues {
    margin-top: 3%;
    display: flex;
    justify-content:flex-start;
    float: left;
    margin-left: 1.5%;
}

.container_tech {
    margin-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container_interet {
    margin-top: 3%;
    display: flex;
    justify-content:flex-start;
    float: left;
    margin-left: 1.5%;
}

.title_competence {
    margin-left: 2%;
}

.container_langues .card {
    text-align: center;
    width: 170px;
}

.container_tech .card {
    text-align: center;
    width: 150px;
}

.container_interet .card {
    text-align: center;
    width: 170px;
}

.container_retour {
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
    position: relative;
}

.bouton {
    background-color: #343038;
    border-radius: 8px;
    padding-right :1.3%;
    padding-left:1.3%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
}

.bouton img {
    width: 25px;
    transform: rotate(180deg);
}
.bouton:hover {
    background-color: #1780ab;
}

.timeline-item-details-date img {width: 101px;}
----------


.timeline-item:before {
    position: absolute;
}

.timeline-item {
	margin-top: 10%;
    margin-left: 20px;
}

.timeline-item-details {
    display: inline-block;

}
.timeline-item:first-child .timeline-item-details {
    margin-top: 0px;
}

.timeline-item-details-date, .timeline-item-details-marker, .timeline-item-details-description {
    float: left;
}

.timeline-item-details-date {
    color: black;
    font-size: 1.3em;
    width: 101px;
}

.timeline-item-details-marker {
    position: relative;
    z-index: 10;
    border-radius: 50%;
    background-color: #1780ab;
    width: 18px;
    height: 18px;
    margin-left: 6%;
    margin-top: .5%;
}


.timeline-item-details-description {
    color: black;
    background-color: none;
    width: 600px;
    height: 100px;
    margin-top: -22.5%;
    margin-left: 30%;
    padding-bottom: 1.5%;


}

.timeline-item-details-description h2 {
    font-size: 28px;
    margin-bottom: 16px;
}

.timeline-item-details-description p {
    line-height: 23px;
}

